<div class="panel panel-default">
  <!-- Info panel contents -->
  <div class="panel-heading"><b>ABOUT FLORENCE BLOG</b></div>
  <div class="panel-body">
    <p><b>The blog is for the articles about living in Florence Italy, Here are the following details that you can do about this web blog:</b></p>
    <ul>
		<li>You can create your account using [sign up] button in home page</li>
		<li>You can edit your profile and view your profile</li>
		<li>Once you [sign up] you can create an article base on the category you want using Action > New Article then [select] the categories</li>
		<li>You can edit your article</li>
		<li>Your Profile and Article are listed once you sign up and your article about living in Florence Italy</li>
    </ul>
    <br />
    <p><b>Good luck! and Happy writing..</b></p>
    <br/><br/><br/>
    <p>This blog is credited to: Complete Web Developer Course Ruby on Rails by: <b>Mashrur</b></p>
    <p>Develop by:<a href="http://lrjbrual.com" target="_blank">Ryan Jeff Brual</a></p>
  </div>