$navbar-default-bg: #6E6E6E;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover{
  color:yellow;
  text-decoration:none;
}
.navbar-default .navbar-nav .nav-color {
    color: white;
    font-size: 1em;
}

.navbar-default .navbar-nav .dropdown-menu .nav-color {
    color: white;
    font-size: 1em;
}
.center{
  text-align:center;
}

.jumbotron {
  background-image: asset-url('snow.jpg');
  background-size:cover;
  height: 550px;
  opacity: 0.7;
  border-radius: 1px;
}
.jumbotron h1{
  color: white;
  text-align: center;
  margin-botton: 35px;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 3px;
}
.description{
  margin-top: 0px;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color:black;
}
footer a:hoover{
  color: #222;
}
footer small{
  float:left;
}
footer ul{
  float:right;
  list-style:none;
}
footer ul li{
  float:left;
  margin-left:15px;
}
